{% extends 'base.html.twig' %}

{% block body %}

<div class="row section3_formulaire">
      <!--Formulaire-->
      <form class="formulaire col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-3 col-xs-6 col-xs-offset-3">
        <h3>Formulaire de contact</h3>
        <div class="form-group">
          <label for="Input_nom"></label>
          <input type="text" class="form-control" id="Input_nom" placeholder="Nom, prénom">
        </div>
        <div class="form-group">
          <label for="Input_email"></label>
          <input type="email" class="form-control" id="Input_email" placeholder="Email">
        </div>
        <fieldset class="form-group">
          <label for="Input_telephone"></label>
          <input type="text" class="form-control" id="Input_telephone" placeholder="Téléphone">
        </fieldset>
        <fieldset class="form-group">
          <label for="Input_sujet"></label>
          <input type="text" class="form-control" id="Input_sujet" placeholder="Sujet">
        </fieldset>
        <fieldset class="form-group">
          <label for="Input_texte"></label>
          <textarea class="form-control" id="Input_texte" rows="3" placeholder="Mon message"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-primary pull-right">Envoyer</button>
      </form>
</div>



{% endblock %}