{% extends 'base.html.twig' %}

{% block body %}

<div class="image-index">
    <img src="{{ asset('img/1024px-Katatonia_in_2004.jpg') }}" alt="photo groupe Katatonia" class="image-groupe">
</div>

{% endblock %}