{% extends 'base.html.twig' %}

{% block body %}

<h1><span class="glyphicon glyphicon-thumbs-up"></span>  <u>CHRONIQUES</u>  <span class="glyphicon glyphicon-thumbs-down"></h1>
</br>
</br>
</br>
<div class="col-md-12">
	<div class="col-md-3 col-md-offset-1 nightchro">
		<img src="{{ asset('img/Nightisthenewday.jpg') }}" class="nightcover">
	</div>
	<div class="col-md-7 chronique-nightisthenewday">
					<p><b>KATATONIA</b></br>
					Night Is The New Day</br>
					Metal atmosphérique mélancolique & progressif</br>
					Peaceville Records / Wagram</br>
		 			<span class="glyphicon glyphicon-star starchro" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star starchro" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star starchro" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star starchro" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star-empty starchro" aria-hidden="true"></span>
                 	</br>
		<i>C’est l’automne. Pendant que les feuilles mortes se ramassent à la pelle, que certains salariés sous pression se défenestrent dans de grandes sociétés, la nuit prend place… C’est dans ce contexte idéal que nos Suédois de Katatonia nous apportent un peu plus de spleen à travers leur huitième album studio Night Is The New Day. Excellemment produit par David Castillo et enregistré au Studio Mega à Varberg et aux Studios Ghost Ward, ce nouvel essai s’avère clairement réussi, dans la lignée de son prédécesseur et désormais classique The Great Cold Distance. L’auditeur navigue entre ombre et lumière, entre passages plus foncièrement Doom/Dark Metal (« Nephilim », « New Night ») ou mélodies plus légères rappelant leurs camarades d’Opeth (« Idle Blood »), Mikael Åkerfeldt les ayant d’ailleurs dépannés dans le passé sur le maxi Sounds Of Decay suite à une extinction de voix de Jonas Renkse en 1997. C’est avec fluidité mais nécessitant tout de même une immersion continue que l’on savoure chaque morceau, chaque nouvelle histoire murmurée par le doux chant mélancolique de Jonas. De plus, les arrangements sont aux petits oignons (cordes, claviers Mellotron…) rendant le tout profondément enivrant. Anders Nyström n’en oublie pas pour autant de dégainer quelques riffs « made in Sweden » comme sur le titre d’ouverture « Forsaker », relativement trompeur au demeurant. Et sur le titre final « Departer » par contre, c’est vers des horizons plus intimistes et progressifs que l’on s’envole. Après leur parenthèse Bloodbath, Katatonia verse donc là une nouvelle larme qui se transforme en perle musicale. <strong>[Seigneur Fred]</strong></i>
		</p></br>
		<p><span class="glyphicon fleche glyphicon-circle-arrow-right"></span>cf. <strong>METAL OBS </strong>(magazine bimestriel gratuit français), chronique de l'album "Night Is The New Day" par Frédéric GOVIGNON (alias "Seigneur Fred"), numéro #35, novembre-décembre 2009, page 31/40.</br></br>
		<u>Liens de téléchargement du magazine</u> (en format .pdf) :</br>
		<div class="col-md-12 liens-download-chro1">
			<div class="col-md-4 col-md-offset-1 lien-download-chro1">
				<a href="http://www.metalobs.com/wp-content/uploads/2013/01/MO35.pdf"><strong>Metal Obs</strong></a></br>
				<a href="http://www.metalobs.com/wp-content/uploads/2013/01/MO35.pdf"><img src="{{ asset('img/30895-MetalObsMag-35-Couverture-4.jpg') }}" class="metalobscover35"></a>
			</div>
			<div class="col-md-4 col-md-offset-1 lien-download-chro1">
				<a href="http://www.noise-web.com/mo/MO35.pdf"><b> Noise Web</b></a></br>
				<a href="http://www.noise-web.com/mo/MO35.pdf"><img src="{{ asset('img/noise-web-logo.jpg') }}" class="logo-noise-web"></a></br></br>
			</div>
		</div>
		</p>
		</br>
	</div>
	<div class="col-md-2"></div></br>
</div></br></br>
<div class="col-md-12 autres-chros">
	<div class="col-md-6 col-md-offset-4"><h2>Autres chroniques à venir...</h2></div>
</br>
</div>

{% endblock %}