{% extends 'base.html.twig' %}

{% block body %}

<h1><span class="glyphicon glyphicon-plane"></span> <u>TOURNEES</u> <span class="glyphicon glyphicon-plane azerty"></span></h1>
	</br></br></br>
	<div class="col-md-12">
		<div class="row-tours">
			<div class="col-md-6 content-kata-img">
			<img src="{{ asset('img/katatonia_pass.png') }}" class="katatonia-tour">
			</div>
			<div class="col-md-6 content-kata-img">
			<img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-tour">
			</div>
		</div>
	</div>
	<div class="col-md-12">
	<div class="row-tours">
		<div class="col-md-6 content-kata-img">
			<img src="{{ asset('img/Australian_tour.jpg') }}" class="australian-katatonia-tour">
		</div>
		<div class="col-md-6 content-kata-img">
		<img src="{{ asset('img/playlist.png') }}" class="katatonia-tour">
		</div>
	</div>
	</div>








{% endblock %}