{% extends 'base.html.twig' %}

{% block body %}


	<div><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia_tour">
	</div>
	<div><img src="{{ asset('img/Australian_tour.jpg') }}" class="katatonia_tour">
	</div>




















{% endblock %}