{% extends 'base.html.twig' %}

{% block body %}

	<div class="row-tours">
		<div class="col-md-6 content-kata-img">
			<img src="{{ asset('img/playlist.png') }}" class="katatonia-tour">
		</div>
		<div class="col-md-6 content-kata-img">
			<img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-tour">
		</div>
	</div>
	<div class="row-tours">
		<div class="col-md-6 content-kata-img">
			<img src="{{ asset('img/Australian_tour.jpg') }}" class="australian-katatonia-tour">
		</div>
		<div class="col-md-6 content-kata-img">
		<img src="{{ asset('img/katatonia_pass.png') }}" class="katatonia-tour">
		</div>
	</div>








{% endblock %}