/* CSS page d'enregistrement (registration)*/

.register {
	text-align: center;
	color: white;
/*	border-top: solid blue 1px;
	border-bottom: solid red 1px;*/
	margin-top: 40px;
	height: 30px;
	padding: 5px;
}

.fond {
	border: solid black 1px;
	border-radius: 5px;
	background-color: #333;
    padding-top: 5px;
}

.formu {
	border: solid black 1px;
	border-radius: 5px;
	background-color: rgba(192, 57, 43, 0.5);
	height: 250px;
}

.inscrire{
    color: #333;
}

.btn-black{
    background-color: black;
    border-color:black;
}

body {
	background-color:#D2D7D3;
	/*background-image: url("../img/Katatonia_-_Fall_Of_Hearts_-_Medium_Res_Cover.jpg");
	/*opacity:0.6;*/
}

/* CSS page de connexion (login)*/

.video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover; 
}

.katatonia_logo{
    height: 160px;
    width: 100%;
    margin-top: 120px;
}

.login{
	text-align: center;
	color: white;
    font-size: 16px;
/*	border-top: solid blue 1px;
	border-bottom: solid red 1px;*/
	margin-top: 24px;
	height: 40px;
	padding: 7px;
}

input {
	margin : 5px;
	border-radius;
}

/* CSS index sidebar*/

body {

 }

.nv-link1 {
    border-bottom: solid red 1px;
    color: rgb(207,0,15) !important;
}

.nv-link {
 	color: rgba(207,0,15, 0.8) !important;
    font-size: 18px;
}

.glyphicon-info-sign{
	margin-left: -20px;
}

.glyphicon-user{
	margin-left: -20px;
}

.glyphicon-cd{
	margin-left: -20px;
}

.glyphicon-sunglasses {
	margin-left: -20px;
}

.glyphicon-thumbs-up {
	margin-left: -20px;
}

.glyphicon-comment{
	margin-left: -20px;
}

.glyphicon-pencil{
	margin-left: -20px;
}

.glyphicon-off{
    margin-left: -20px;
}

.glyphicon-plane{
    margin-left: -20px;
}

.deconnexion{
    border-top: solid red 1px;
    padding-top: 10px;
}


/* INDEX Toggle Styles */

#page-content-wrapper{
	background-color: rgb(207, 0, 15);
    border-bottom: solid black 2px;
    position: fixed;
    z-index: 1;
}

#menu-toggle{
    padding-left: 2px;
    padding-right: 6px;
    height: 70px;
    width: 300px;
}

.gif{
    margin-right: 20px;
    width: 60%;
}

.katatonia_small_logo{
    height: 50px;
    width: 102%;
    padding-bottom: 10px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    min-width: 100%;
    position: fixed;
    height: 100px;
    z-index: 1;
}

/*.shake-opacity{
    height: 660px;
}*/

#wrapper.toggled #page-content-wrapper {
    position: fixed;
    margin-right: -250px;
}

.fa-twitter-square{
    padding-right: 10px;
}

.fa-facebook-square{
    padding-right: 10px;
}

.fa-google-plus-square{
    padding-right: 10px;
}

.fa-instagram{
    padding-right: 10px;
}

.fa-spotify{
    padding-right: 8px;
}

.fa-youtube-square{
    padding-right: 10px;
}

.social-logos{
    padding-right: 80px;
}

.social-link{
    color:#333;
}

.social-link:hover{
    text-decoration: none;
    color: silver;
}

.image-groupe{
    position: relative;
    width: 100%;
    opacity: 0.9;
    margin-bottom:-450px;
}

.image-index{
    z-index: 2;
}

.glyphicon-flash{
    width: 500%;
    text-align: center;
}

.flash{
    margin-left: -26px;
}

#parallaxWrapper {
    position:relative; /* Référence aux enfants en absolute */
    width:610px; height:350px; }

#parallaxWrapper [class*="px"] { /* Cible tous les enfants contenant la chaine "px" */
    visibility:hidden; /* Plugin feature ! (voir les explications) */
    position:absolute; }

#parallaxWrapper .pxBackground {
    top:0; left:0; bottom:0; right:0; /* Alternative à top:0; left:0; width:100%; height:100%; */
    background:#070707 url(.img/1024px-Katatonia_in_2004.jpg) no-repeat; }

#parallaxWrapper .pxSprite {
    top:-100px; right:100px; /* Position initiale de l’élément */
    width:200px; height:200px;
    background:url(.img/katatoniarond.jpg) no-repeat; }

.intro-title{
    margin-top: -30px;
}
#intro-content {
    margin-top:300px;
}

.mouse {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 23px;
    cursor: pointer;
    opacity: .7;
}


.mouse-dot{
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 10px;
}

.intro-actions {
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 100px;
}


.petit-logo-katatonia{
    border-radius: 20px;
}

.glyphicon-hand-right {
    margin-bottom: -60px !important;
}

.tuska-banniere{
    width: 78%;
}

.metal-hammer-couv{
    width: 38%;
}

.kerrang-couv{
    width: 40%;
}

.charts-billboard{
    width: 78%;
}

.fallofhearts-HDcover{
    width: 79%;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: white;
    background-color: #3a3f51;
    border: 1px solid #3a3f51;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
}
 
.scrollup:hover {
    color: white;
}

/* BASE Sidebar Styles */

#empty-navbar{
    height: 100px;
    background-color: rgba(207, 0, 15, 0.8);
    display: block;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 10px;
        position: fixed;
        width: 100%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: fixed;
        margin-right: 0;
    }
}


select{
    padding-right: 20px;
}

.glyphicon{
    height: 50px;
    width: 50px;
}

.glyphicon-heart{
    width: 20px !important;
}

.glyphicon-home{
    padding-right: 20px;
 }

.glyphicon-cd{
    padding-right: 20px;
 }


 /* Modal Header */


#myBtn{
    width: 50%;
    margin-left: 70px;
    border-radius: 10px;
    background-color: #D2D7D3;
}


.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: red;
}

/* Modal Body */

.modal-body {
    padding: 2px 16px;
    text-align: center;
}

/* Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: red;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 20px;
    text-align: center;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.iconemodal {
    margin-left: 1px !important;
    width: 10px;
}

.btn-vote {
    text-align: center;
}

.danger {
    background-color: rgb(217, 30, 24);
}

/* CSS COMMENTS */

.image_journal_de_bord {
    width: 100%;
    height: 16em;
}

.list_posts {
    width: 100%;
    height: 15em;
    color: #19B5FE;
}

.message{
    border: solid #BDC3C7 1px;
    margin-top: 5px;
    padding: 5px;
}

.glyphicon-envelope {
    padding-right: 30px;
    padding-left: 14px;
}

.posttt {
    overflow: auto;
    height: 600px;
    background-color: rgb(207,0,15);
    border-radius: 30px;
}

.message{
    background-color: #ABB7B7;
}

.formul {
    text-align: center;
    margin-top: 30px;
    width: 450px;
    background-color: #CF000F;
    height: 300%;
    border: solid black 1px;
    border-radius: 5px ;
}

textarea {
    resize: none;
}

h3{
    text-align: center;
}

.photo-ecriture{
    width: 60%;
    border-radius: 200px;
    margin-top: 100px;
    margin-left: 80px;
}


/* CSS TOURNEES */

.row-tours{
    padding: 0;
}

.katatonia-stage{
    width: 60%;
    border-radius: 160px;
    text-align: center;
}


.katatonia-pass-stage{
    width: 60%;
    border-radius: 160px;
    text-align: center;
    -webkit-transform:rotate(180deg); /*Safari 3.1+/Chrome*/
    -o-transform:rotate(180deg);  /*Opera 10.5+*/
    -moz-transform: rotate(180deg); /*Firefox 3.5+*/
}

.live-stage{
    text-align: center;
}

.content-kata-img {
    padding: 40px !important;
}

.european-katatonia-tour{
    width: 100%;
    /*height: 518px;*/
    border-radius: 20px;
}

.australian-katatonia-tour{
    /*height: 500px;*/
    width: 100%;
    border-radius: 20px;
}

/* CSS ALBUM-DISCOGRAPHIE */


.menu-disco{
    text-align: center;
    padding-top: 20px;
}

.rowdisco{
    margin-bottom: 100px;
}

.js-scrollTo{
    color:#333;
    padding-right: 30px;
    padding-top:-50px;
}

.photo-dance{
    width: 40%;
    border-radius: 160px;
    text-align: center;
}

.photo-livre{
    width: 40%;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

.row2{
    padding-bottom: 50px;
}

h1{
    text-align: center;
    padding-top: 80px;
    margin-top: 0;
}

h2{
    padding-left: 10px;
}

.starvote{
    margin-left: 160px;
}

table{    
    text-align: center;
}

.resultat-vote{
    margin-top: 10px;
    margin-left: 200px;
    text-align: center;
}

th, td{
    text-align: center;
}

.azerty {
    margin-left: 1px !important;
}

.cercle{
    text-align: center;
}

.album_signing{
    width: 90%;
    border-radius: 160px;
}

.td{
    padding-bottom: 12px;
}

.katatonia-livre-cover{
    width: 60%;
}

/* CSS BIOGRAPHIE */

.menu-bio{
    text-align: center;
    padding-top: 20px;
}

.rowbio{
    margin-bottom: 100px;
}


.katatonia-vin{
    text-align:center;
}

.photo-vin{
    width: 40%;
    border-radius: 160px;
    text-align: center;
}

.photo-groupe-biere{
    width: 40%;
    border-radius: 160px;
    text-align: center;
}


.photo-logos-groupe{
    width: 60%;
    border-radius: 20px;
    margin-top: -20px;
}

.photo-groupe-2016{
    width: 100%;
}

.introducing-line-up{
    text-align: center;
    margin-bottom: -40px;
}

.photo-introducing-line-up{
    width: 40%;
}

.photo-drumkit{
    width: 90%;
}

.drumkit{
    margin-top: 100px;
}

.bouton{
    position:relative;
}


/* CSS CHRONIQUES */

.chro1{
    padding-bottom: 30px;
}

.nightcover{
    width: 80%;
}

.starchro{
    margin-right: -30px;
}

.fleche {
    height: 10px;
    width: 20px;
}

.titre-metalobs{
    padding-left: 56px;
}

.titre-noiseweb{
    padding-left: 50px;
}

.metalobscover35{
    width: 130%;
}

.logo-noise-web{
    width: 130%;
    height: 150px;
    border-radius: 20px;
}

.lien-download-chro1{
    text-align: center;
}

.autres-chros{
    margin-top: 20px;
}

/* CSS INTERVIEWS */

.titre-intw1{
    text-align: center;
}

.katatonia-cross{
    width: 80%;
    height: 600px;
    border-radius: 20px;

}

.txt-intw1{
    margin-top: 20px;
}

.promo-photo{
    text-align: center;
}

.katatonia-promo-photo{
    width: 60%;
}

.katatonia-boisson{
    width: 40%;
}

.oeil-groupe{
    width: 40%;
}

.photo-oeil-groupe{
    width: 60%;
    border-radius: 160px;
}

.thatsallfolks{
    border-radius: 30px;
    width: 70%;
    margin-bottom: 5px;
}
.ref-disco{
    margin-top: 3px;
}

.nightintwcover{
    width: 18%;
}

.endintw1{
    margin-bottom: 20px;
}