/* CSS page d'enregistrement (register)*/

.register {
	text-align: center;
	color: red;
	border-top: solid blue 1px;
	border-bottom: solid red 1px;
	margin-top: 200px;
	height: 50px;
	padding: 5px;
}
.fond {
	border: solid black 1px;
	border-radius:5px;
	background-color: blue;
}

.formu {
	border: solid black 1px;
	border-radius: 5px;
	background-color: rgba(255,0,0,0.3);
	height: 250px;
}

body {
	background-color:#D2D7D3;
	/*background-image: url("../img/Katatonia_-_Fall_Of_Hearts_-_Medium_Res_Cover.jpg");
	/*opacity:0.6;*/
}

/* CSS page de login (login)*/

.video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover; 
}

.katatonia_logo{
    height: 160px;
    width: 100%;
    margin-top: 120px;
}

.login{
	text-align: center;
	color: red;
	border-top: solid blue 1px;
	border-bottom: solid red 1px;
	margin-top: 58px;
	height: 50px;
	padding: 5px;
}

input {
	margin : 5px;
	border-radius;
}

/* CSS index sidebar*/

body {
    overflow-x: hidden;
 }

.nv-link1 {
 	border-bottom: solid red 1px;
 	color: rgb(207,0,15) !important;
}

.nv-link {
 	color: rgb(207,0,15) !important;
}

.glyphicon-blackboard{
	margin-left: -20px;
}

.glyphicon-road{
	margin-left: -20px;
}

.glyphicon-cd{
	margin-left: -20px;
}

.glyphicon-sunglasses {
	margin-left: -20px;
}

.glyphicon-thumbs-up {
	margin-left: -20px;
}

.glyphicon-comment{
	margin-left: -20px;
}

.glyphicon-pencil{
	margin-left: -20px;
}

.glyphicon-off{
    margin-left: -20px;
}

.glyphicon-plane{
    margin-left: -20px;
}

.deconnection{
    border-top: solid red 1px;
}


/* INDEX Toggle Styles */

#page-content-wrapper{
	background-color: rgb(207,0,15);
    border-bottom: solid black 2px;
}

#menu-toggle{
    padding-left: 10px;
    height: 50px;
}

.gif{
    margin-right: 20px;
    width: 60%;
}

.katatonia_small_logo{
    height: 50px;
    width: 400px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 180px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.fa-twitter-square{
    padding-right: 10px;
}

.fa-facebook-square{
    padding-right: 10px;
}

.fa-google-plus-square{
    padding-right: 10px;
}

.fa-instagram{
    padding-right: 10px;
}

.fa-spotify{
    padding-right: 8px;
}

.fa-youtube-square{
    padding-right: 10px;
}

.social-link{
    color:#333;
}

.social-link:hover{
    text-decoration: none;
    color: silver;
}

/* BASE Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


select{
    padding-right: 20px;
    margin-left: 80px;
}
.glyphicon{
    height: 40px;
    width: 40px;
}

.glyphicon-home{
    padding-right: 20px;
 }

.image-groupe{
    position: relative;
    width:100%;
}

/* CSS COMMENT */

.image_journal_de_bord {
    width: 100%;
    height: 16em;
}

.list_posts {
    width: 100%;
    height: 15em;
    color: #19B5FE;
    background-color: green;
}

.message{
    border: solid #BDC3C7 1px;
    margin-top: 5px;
    padding: 5px;
}

.glyphicon-envelope {
    padding-right: 30px;
    padding-left: 14px;
}

.posttt {
    overflow: auto;
    height: 350px;
    background-color: rgb(207,0,15);
}

.message{
    background-color: #6C7A89;
}

.formul {
    text-align: center;
    margin-top: 30px;
    width: 450px;
    background-color: rgba(207,0,1,0.9);
    height: 300%;
    border: solid black 1px;
    border-radius: 5px ;
}

textarea {
    resize: none;
}

/* CSS TOURS */

.row-tours{
    padding: 0;
}

.katatonia-tour{
    height: 800px;
    width: 100%;
}

.content-kata-img {
    padding: 0 !important;
}

.australian-katatonia-tour{
    height: 800px;
    width: 100%;
}

